#Box3{
    width: 30%;
    height: 30%;
    background-color: pink;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}