.box {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #000000;
  border-radius: 50%;
}
